@import "../../style/variable.scss";
@import "../../style/base.scss";

.dashBoard{
    &__group{
        display: flex;
        border: 0.2rem solid $borderColor;
        border-radius: 1rem;
        padding: 2rem;
        box-shadow: 0rem 1rem 1rem $borderColor;
    }
    &__icon{
        font-size: 9rem;
        margin-right: 3rem;
        color: $primaryColor;
    }
    & h2{
        color: $primaryColor;
    }
    .content{
        margin-top: 30px;
        box-shadow: 10px 10px 30px #ccc;
        padding: 20px;
        border-radius: 10px;
    }
    &__analysis{
       
       &--statistical{
        display: flex;
        justify-content: space-around;
       }
    }
    &__order{
        margin-top: 50px;
    }
    &table,th,td{
        border: 1px solid $primaryColor;
        padding: 10px;
    }
}